body {

    background-color: hsl(27, 66%, 92%);
}

.balanceHolder {
    margin: 0;
    line-height: 0.1;
    padding-right: 300px;
}
.mainSection {
    display: flex;
    justify-content: right;
    padding-top: 10px;
    background-color: black;
    background-color: hsl(10, 79%, 65%);
    border-radius: 20px;
    height: 75px;
    width: 550px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    
}
.lastMonthData {
    display: inline-block;
    line-height: .3;
    margin-right: 0;
    margin-left: 230px;
    color: #fff;
    text-align: right;
}
.totalThisMonth {
    display: inline-block;
    text-align: left;
}

h1 {
    font-size: 15px;
    color: #fff;
}

.spendingTitle {
    text-align: left;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

.spendingData {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 550px;
    
}
.spendingTitleThisMonth {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
    opacity: .5;
    
}
#spendingAmount {
    line-height: .1;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.accountBalance {
    opacity: .5;
}
.amountHolder {
    color: #fff;
    font-size: 30px;
}
.lastMonthTitle {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    opacity: .5;
    font-size: 15px;
}
.lastMonthAmount {
    color:black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
.mainDiv{
    margin-top: 150px;
    width: 70vh;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}

.logo {
    padding-right: 30px;
    height: 65px;
    width: 80px;

}
.day {
    display: inline;
    color: black;
    text-transform: capitalize;
}

.attribution { 

 font-size: 11px; text-align: center; 
}

.attribution a { 

 color: hsl(228, 45%, 44%);
}
.chart {
    width: 550px;
    height: 300px;
    display: block;
}
.percentage {
    color:black;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
}
.percentage li {
    list-style: none;
    height: 150px;
    position: absolute;
    bottom: 145px;
}
.percentage span {
    font-size: 12px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    bottom: 0;
    right: 10px;
}
#bars {
    color: hsl(10, 79%, 65%);
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}
#bars li {
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
}
#bars span {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: center;
    margin-left: -35px;
}
#bars #bar,#bar1,#bar2,#bar3,#bar4,#bar5,#bar6 {
    display: block;
    background: hsl(10, 79%, 65%);
    width: 50px;   
    height: 20%; 
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(206, 13, 39, 0.5);
    transition: 0.5s;
    border-radius: 5px;
    transition-property: background, box-shadow;

}
#bars #bar:hover {
    background: hsl(186, 34%, 60%);
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    content: attr(data-percentage);

}
#bars #bar1:hover {
    background: hsl(186, 34%, 60%);
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
#bars #bar2:hover {
    background: hsl(186, 34%, 60%);
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
#bars #bar3:hover {
    background: hsl(186, 34%, 60%);
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
#bars #bar4:hover {
    background: hsl(186, 34%, 60%);
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
#bars #bar5:hover {
    background: hsl(186, 34%, 60%);
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
#bars #bar6:hover {
    background: hsl(186, 34%, 60%);
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
#bars #bar:before {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    bottom: 20px;
    position: relative;
}
